__pycache__/
*.py[cod]
.env
.env.*
.venv/
venv/
*.sqlite3
*.db
*.log
.DS_Store
.idea/
.vscode/
coverage/
node_modules/
web/static/dist/
web/frontend/node_modules/
web/frontend/dist/
bot/node_modules
*.safetensors
bot/dist/
data/model/model.safetensors
*.safetensors
