fastapi==0.110.2
uvicorn[standard]==0.29.0
httpx==0.27.0
python-dotenv==1.0.1
pydantic-settings==2.2.1
SQLAlchemy==2.0.30
alembic==1.13.1
pandas==2.2.2
numpy==1.26.4
torch==2.3.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
transformers==4.41.1
safetensors==0.4.3
tokenizers==0.19.1
jinja2==3.1.4
python-multipart==0.0.9
structlog==24.1.0
prometheus-client==0.20.0
orjson
emoji==2.12.1
pyngrok==7.1.6
gunicorn
